.login-parent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--grey2);
    width: 600px;
    border-radius: 0.35rem;
    padding: 30px;

    h1{
        font-size: 35px;
    }

    .login-form {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 30px;
      width: 100%;


      input{
        width: 100%;
      }
    }
  }
}
